.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    max-width: 350px;
    margin: auto; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: rgba(106, 96, 96, 0.834); 
    color: white;
  }
  
  .signup-form {
    width: 100%; 
  }
  
  .signup-button {
    background-color: #cd940e !important;
    color: white !important; 
    width: 100%; 
    padding: 10px; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px  !important;
  }
  
  .signup-button:hover {
    background-color:  #ffb300 !important; 
    scale: 1.02;
  }
  