/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/*  */
/*  */
/*  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(90deg, rgb(37, 32, 32) 20%, rgba(36,41,126,1) 59%, rgba(163,39,69,1) 100%);
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #4fa7ca86;
    padding: 40px 30px 70px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.todo-app:hover{
  box-shadow: inset 600px 0 0 0 #4fa7ca86;
  cursor: pointer;
}
.app-title{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.app-title h2, .app-title i{
    color: #002765;
}
.app-title i{
    font-size: 26px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
}
input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px;
    font-size: 17px;
    padding-left: 20px;
}
input:hover{
  scale: 1.05;
}
button{
    border: none !important;
    cursor: pointer !important;
    outline: none !important;
    padding: 15px 30px !important;
    /* border-radius: 10px !important; */
    margin-left: 2px;
    background-color: #14acaa !important;
    color: #fff !important;
    font-size: 18px !important;
    transition: all .25s ease !important;
}
button:hover{
    filter: brightness(.8) !important;
}

@media screen and (max-width: 400px) {
    button{
        padding: 15px;
        border-radius: 0 30px 30px 0;
    }
}

ul{
    list-style: none;
}
ul li{
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    margin-top: 5px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: 0;
    border: 2px solid #4567ff;
}
ul .checked{
    color: #4567ff;
    text-decoration: line-through;
}
ul .checked::before{
    background-color: #4567ff;
}
span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 18px;
    transition: all .2s ease;
}
span:hover{
    background-color: #c9c9c9;
    color: #fff;
}
#edit{
  padding: 15px 20px !important;
}