body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/Black-Backgrounds-HD.jpg) ;
    background-size: cover;
    
    
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    max-width: 350px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: rgba(106, 96, 96, 0.834);
    color: white;
  }
  
  .login-form {
    width: 100%; 
  }
  .login-button {
    background-color: #cd940e !important;
    color: white !important; 
    width: 100%;
    padding: 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px  !important;
  }
  
  .login-button:hover {
    background-color:  #ffb300 !important; 
    scale: 1.02;
  }
  
  label{
    color: white !important;
  }
  input{
 color: white !important;
  }

small {
  color: white;
  text-align: center;
  display: block;
  margin-top: 10px;
}

