.hover-card {
    transition: transform 0.9s ease;
  }
  
  .hover-card:hover {
    transform: scale(1.05); 
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  }
  